.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: var(--cor-fundo-primaria);
  background: var(--meu-gradient);
  color:  var(--cor-texto);
  font-weight: bold;
  font-family: sans-serif;
  padding: 1rem;
}

.footer_heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--cor-fundo-secundaria);
}

.footer_heading p {
  padding: 0;
  margin: 0;
}

.footer_heading img {
  position: relative;
  width: 30px;
  border: 1px solid transparent;
  top: 6px;
}

.footer_copy {
  margin-top: 1rem;
  font-size: .8rem;
}
