.home{
  background-color: var(--cor-texto);  
}
.home .banner{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;  
  opacity: 0.3;
  width: 100%;  
  background-image: url(../../public/imgs/bg-home.jpg);
  background-size: container;
  background-position: center;
  background-repeat: no-repeat;
}
.home.container{
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;    
  z-index: 3;
    

}
.title{
  color: var(--cor-fundo-primaria);
  align-self: center;
  font-family: var(--font-padrao);
  font-size: 2rem;
  padding: 1rem;
  z-index: 3;
}
.subtitle{
  color: var(--cor-fundo-secundaria);
  align-self: flex-start;
  padding: 1rem;
  font-size: 1.4rem;
  font-family: var(--font-padrao);
  z-index: 3;
}
.home p{
  font-size: 1.1rem;
  letter-spacing: 1px;
  text-align: left;
  padding: 1rem;
  font-family: var(--font-padrao);
  z-index: 3;
}

.home_list{  
  display: flex;  
  align-items: center;
  justify-content: center;
  gap: 3rem;
  
}
.home_list li{  
  list-style-image: url(../../public/imgs/visto.png);
  position: relative;
  top: 0px;
  z-index: 3;
}
.home .btn{
  width: 50%;
  align-self: center;
  /* margin-bottom: 6rem; */
  z-index: 3;
}
